name: CI
on: [push, pull_request]

jobs:
  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.41.0
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.6.3

      - uses: actions/cache@v5
        name: Setup deno cache
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}

      - name: Run linter
        run: deno task lint

      - name: Run format
        run: deno task format --check

      - name: Run tests
        env:
          STATIC_KEY: ${{ secrets.STATIC_KEY }}
        run: deno task test
