name: Schedule Run

on:
  workflow_dispatch: # allow manual triggering
  schedule:
    - cron: '0 7 * * *'  # At 07:00(UTC is 15:00 in Beijing) on every day

jobs:
  schedule:
    runs-on: ubuntu-latest

    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Asia/Shanghai'

      - uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.6.7

      - uses: actions/cache@v5
        name: Setup deno cache
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}

      - name: Fetch then convert and merge
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            STATIC_KEY: ${{ secrets.STATIC_KEY }}
        run: |
          # Fetch
          deno task dev fetch

          if [[ -n $(git status --porcelain) ]]; then
            # Convert and Merge
            deno task dev convert all
            deno task dev merge

            # Commit
            git config push.autoSetupRemote true
            git config user.name github-actions[bot]
            git config user.email 41898282+github-actions[bot]@users.noreply.github.com
            git checkout -b routine/$(date -u +%Y-%m)--$RANDOM

            git add .
            git commit --message="chore(data): Routine update"
            git push

            # Create pull request
            gh pr create --base master --title 'Routine update' --body 'Created by Github action'
          else
            echo "Have not file change."
          fi
